.disabled-button.espec {
    background: #eeeeee;
    color: #cecece;
}

.MuiButton-text-3 {
    color: white;
    border: 0;
    height: 48px;
    padding: 0 30px;
    background: #eeeeee;
    border-radius: 7px;
}