.menu-container {
    font-size: 16px;
    color: white;
}

.menu-container a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.menu-container li {
    display:inline-block;
    font-family: 'Ropa Sans', 'Roboto';
    color: #fff;
    padding: 10px;
}