.title {
    height: 32px;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 32px;
    color: #223127; ;
    text-align:center;
    padding: 30px;
   
}

.main-div {
    height: 624px;
    background: #E8EAED;
}

.carusel-div {
    max-width: 1350px;
    overflow:hidden;
    margin: 0 auto;
}

.slider {
    transition: all 1s;
    display: flex;
    align-self: center;
}

.Carussel-Nav-Button{
    display:flex;
    justify-content:center;
    padding: 50px;

}
