.searchbar-container {
    background: #FFFFFF;
}
.searchbar-position {
    text-align: center;
   
   
}

.searchbar-position input {
    border-radius: 10px;
    margin: 30px;
    width: 300px;
    padding: 5px;
}