.title {
    height: 32px;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 32px;
    color: #223127; ;
    text-align:center;
    padding: 30px;
   
}
.main-div {
    height: 624px;
    background: #E8EAED;
}
.card-div {
    display: flex;
    justify-content: space-around;
}
