.myDishesContainer{
    height: 500px;
    width: 500px;
    overflow: hidden;
    background: #E8EAED;  
}
.myDishes-carusel-div {
    max-width: 500px;
    margin: 0 auto;
    transition: all 1s;
    display: flex;
    align-self: center;
}

