.Footer {
    height: 90px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #76818E;
}

.text-footer{
    font-family: Ropa Sans;
    color: #fff;
    list-style: none;
    text-align: center;
}