@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formCont {
  padding: 20px 50px 50px 50px;
  margin: auto;
  text-align: center;
  background-color: white;
  align-items: center;
  border-radius: 20px;
}
.p_success {
color:seagreen;
font-family: "Ropa sans";
}

.p_error {
  color:red;
  font-family: "Ropa sans";
}

.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0 0 15px 0 !important;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.flex-SignUp {
  display: flex;
  flex-wrap: nowrap;
  width:100%;
  height:550px;
  background-color: #E8EAED;
}

.SignUp-Image {
  object-fit: fill;
  float:left;
  width:50%;
  height:100%;
  object-fit:cover;
}